<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <%# General Header %>
      <div class="container header-custom">
        <div class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center text-center">
            <div class="container-fluid text-center">
              <%= link_to image_tag("https://image.flaticon.com/icons/svg/2540/2540678.svg", height: "60", width: "60", :alt => "cassette tape logo", :class => "d-inline-block align-top"), root_path %>
              <%= link_to "MEDIA RANKER", root_path, :class => "blog-header-logo header-logo__gradient" %>
              <br>
            <h6> STYLING ISN'T THE SAME—I KNOW, I DIDN'T READ THE OPTIONAL INSTRUCTIONS BEFOREHAND 🙃</h6>
            <h6> EST. 2020 | RANKING THE BEST OF EVERYTHING </h6>
            </div>
          </div>
        </div>
      </div>

      <%# Header Navbar %>
      <nav class="navbar navbar-expand-lg navbar-default navbar-custom justify-content-center">      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to "view top media", root_path, :class => "nav-item nav-link"%>
            <li class="nav-item nav-link"> / </li>
            <%= link_to "view all media", works_path, :class => "nav-item nav-link"%>
            <li class="nav-item nav-link"> / </li>
            <%= link_to "add a new work", new_work_path, :class => "nav-item nav-link"%>
            <li class="nav-item nav-link"> / </li>
            <%= link_to "view all users", root_path, :class => "nav-item nav-link"%>
          </div>
        </div>
          <div class="col-1 d-flex justify-content-end align-items-center">
            <% if session[:user_id] %>
              <% @current_user = User.find_by(id: session[:user_id]) %>
                <% if @current_user.nil? %>
                  <%= button_to "Log In", login_path, method: :get, :class => "btn btn-custom-outline"  %>
                <% else %>
                  <%= button_to "You are currently logged in as #{@current_user.username}", user_path(@current_user), method: :get, :class => "btn btn-custom-outline mr-4" %>
                  <%= button_to "Log Out", logout_path, method: :post, :class => "btn btn-custom-upvote" %>
                <% end %>
            <% else %>
              <%= button_to "Log In", login_path, method: :get, :class => "btn btn-custom-outline"  %>
            <% end %>
          </div>
      </nav>
    </header>

    <%# Content %>
    <section class="content">
      <div class="container-fluid p-5">
        <section class="alert__container flash-msg__section">
          <% flash.each do |name, message| %>
            <% if name == "success" %>
              <div class="alert alert-success light-text" role="alert">
                  <strong class="<%= name %>">
                    <%= message %>
                  </strong>
              </div>
            <% else %>
              <div class="alert alert-danger light-text" role="alert">
                  <strong class="<%= name %>">
                    <%= message %>
                  </strong>
              </div>
            <% end %>
          <% end %>
        </section>
        <%= yield %>
      </div>
    </section>
    
    <%# Footer %>
    <footer class="footer text-center">
      <div class="container mt-4">

          <small>ALL IMAGES AND TEXT &copy; 2020 MEDIA RANKER </small> <br>
          <small>Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>

      </div>
    </footer>
  </body>

</html>
